################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ParallelTaskJs/ParallelTaskJs/Views
/ParallelTaskJs/ParallelTaskJs/Global.asax
/ParallelTaskJs/ParallelTaskJs/Global.asax.cs
/ParallelTaskJs/ParallelTaskJs/packages.config
/ParallelTaskJs/ParallelTaskJs/ParallelTaskJs.csproj
/ParallelTaskJs/ParallelTaskJs/ParallelTaskJs.csproj.user
/ParallelTaskJs/ParallelTaskJs/Web.config
/ParallelTaskJs/ParallelTaskJs/Web.Debug.config
/ParallelTaskJs/ParallelTaskJs/Web.Release.config
/ParallelTaskJs/ParallelTaskJs.sln
/ParallelTaskJs/ParallelTaskJs/Properties
/ParallelTaskJs/ParallelTaskJs/obj
/ParallelTaskJs/ParallelTaskJs/Controllers
/ParallelTaskJs/ParallelTaskJs/bin
/ParallelTaskJs/ParallelTaskJs/App_Start
/ParallelTaskJs/packages
/ParallelTaskJs/.vs
/.vs
/ParallelTaskJs/ParallelTaskJs/src
node_modules/
dist/
